<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Verify Certificate</title>
  </head>
  <body>
    <h1>This is the Certificate verifier</h1>
    {% if verified %}
    <h1>Certificate verified</h1>
    <h1>{{ name }}</h1>
    <h1>{{ event_name }}</h1>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
  </body>
</html>
